aiohttp==2.0.7
async-timeout==1.2.1
asyncio-redis==0.14.3
chardet==3.0.2
contextlib2==0.5.5
discord.py==0.16.7
multidict==2.1.4
olefile==0.44
Pillow==4.1.1
raven==6.0.0
redis==2.10.5
websockets==3.3
yarl==0.10.1
